<p>Your ILL request has been placed.</p>

<p>We have retained the following from your patron profile:</p>

<ul>
  <li>Name: {{ patron_profile.name  }}</li>
  {% if patron_profile.givenName %}
  <li>Given name: {{ patron_profile.givenName }}</li>
  {% endif %}

  {% if patron_profile.familyName %}
  <li>Family name: {{ patron_profile.familyName }}</li>
  {% endif %}

  <li>Email: {{ patron_profile.email }}</li>
  <li>Barcode: {{ patron_profile.barcode }}</li>
</ul>

<p>The request paramaters were:</p>

<table border="1">
  {% for param in params %}
  <tr><td>{{ param.key }}</td><td>{{ param.value }}</td></tr>
  {% endfor %}
</table>
